<div appDivStyle class="download">
    <div appWhitebg>
        <h2 appHeadStyle>Download Page</h2>
        <p appParagraphstyle>Click the link below to download Valorant:</p>
        <button appButtonstyle href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwjD_pyZgdqCAxXFqWYCHQIuBZsYABAAGgJzbQ&ase=2&gclid=CjwKCAiAjfyqBhAsEiwA-UdzJBkujoFRad0m9IlU8k4eJV-dju4Mw_2_-A-fnxg64W_YmEUMXsbKLhoCe98QAvD_BwE&ohost=www.google.com&cid=CAESVuD2inQ9yBhNqzkvvqo8N_UxGHMfLbA0M5luJp8M3W1u97M9LNF94L0dykgRcGujmqIxLlnWiKk9xQDei4OtgpEN7TfHl5E-bhab90g7kMYvX9mrphWX&sig=AOD64_04dtMZNFaLcJpmDNB7QTf4MQbNJg&q&nis=4&adurl&ved=2ahUKEwj1rJaZgdqCAxVWZ2wGHZzAA2oQ0Qx6BAgKEAE">Download Now</button>
    </div>
</div>